<div class="container">
<center>  
<a class='button' href="/logout">Cerrar sesión</a> 
</center>
</div>
<div class="container">
  <h2>Welcome <%= @user.name %></h2>
</div>

<h1>MiniSubmarine</h1>

<div id="container">

</div>

<aside>
  <h3></h3>
  <form id="play" method="post" action="/games">
    <input id="id" type="hidden" name="session" value="<%= @user.id %>">
    <input id="play2" type="submit" value="Play">
  </form>
  <br>
  <!-- ¿Qué va en esta parte para mostrar la lista de puntuaciones del jugador por cada round? -->
  <a class='button' href="/score/<%= @user.id %>">View Score</a>
  <!-- ¿Qué va en esta parte para que se muestre el mensaje de 'winner'?-->
  <p id="win"></p>
</aside>

