<h1>Sign In</h1>

<% if @errors %>
  <p><%= @errors %></p>
<% end %>
<form action="/signin" method="post">
  <div class="container" id="form">
    <!-- ¿Qué va en esta parte para realizar el sign in? -->
    Email: <input type="text" name="email">
    <br>
    Password: <input type="password" name="pass">
    <br>
    <input type="submit" value="Sign in">
  </div> <!--end "login_form" div -->
</form>
  